.field-component
{
    background-color: #fefefe;
}

.main-container {
    position: relative;
    background-image: url('https://res.cloudinary.com/cloud0310/image/upload/v1712227741/pexels-brotin-biswas-518543_hd4yml.jpg'), linear-gradient(rgba(0, 0, 0, 0.414), rgba(0, 0, 0, 0.912));
    background-size: cover;
    background-position: center;  
    background-attachment: fixed; /* Background image remains fixed */
    width: 100%;
  }
  
  .left
  {
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .left-outer1{
    background-color: rgb(209, 220, 220);
  }

  .left-outer2
  {
    background-color: rgba(255, 255, 255, 0.514);
  }

  .right {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 100%; /* Set the maximum height to 80% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }
  