.user-form-container {
  margin: 20px auto; /* Center align horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: fit-content; /* Adjust width based on content */
}

.form-table {
  width: 100%;
  margin: 20px;
  border-collapse: collapse;
}

.form-table th,
.form-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #45a049;
}

.empty-form-message {
  font-style: italic;
  color: #888;
  margin-top: 20px;
}

/* Added styles for user type selection */
.user-type-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.user-type-select label {
  margin-bottom: 10px;
}

.user-type-select input[type='radio'] {
  margin-right: 5px;
}
